require 'yaml'

# Establish a connection to the database.
database_yml = File.read(Crepe.root.join('config', 'database.yml'))
database = YAML.load(ERB.new(database_yml).result)[Crepe.env]
ActiveRecord::Base.establish_connection(database)

# Store timestamps in UTC. If you really wish, you can use your application's
# default time_zone as well:
#
# ActiveRecord::Base.default_timezone = <%= app_name_const %>::Application.time_zone
ActiveRecord::Base.default_timezone = :utc
