require File.expand_path('../config/application', __FILE__)
require 'rake'

# Load all Rake tasks in lib/tasks/
Dir['lib/tasks/**/*.rake'].each { |task| load task }

# Load ActiveRecord Rake tasks
load 'active_record/railties/databases.rake'
include ActiveRecord::Tasks
DatabaseTasks.db_dir = 'db'
DatabaseTasks.migrations_paths = %w[db/migrate]
DatabaseTasks.root = Crepe.root
DatabaseTasks.env = Crepe.env
