defaults: &defaults
  adapter: postgresql
  encoding: unicode

development:
  <<: *defaults
  database: <%= app_name %>_development
  pool: 16
  username: postgres
  password:

test:
  <<: *defaults
  database: <%= app_name %>_test
  pool: 16
  username: postgres
  password:

production:
  <<: *defaults
  database: <%= app_name %>_production
  pool: 25
  username: postgres
  password:
